h1{
    color:white;
    background-color:greenyellow;
    text-align: center;

}
p{
    color: blue;
    background-color: antiquewhite;

}
.janganngikutin {
    color: aquamarine;
    background-color: brown;
}
.wsatu {
    color:bisque;
    background-color:blueviolet;
}
.wdua{
    color: crimson;
    background-color: darkcyan;
}
.wtiga{
    color: blue;
    background-color: red;
}
#kstu {
    height: 500px;
    width: 500px;
    background-color:burlywood;
    border-radius: 100pc;
    border-top:100px;
    margin-bottom: 10px;
}
#kdua {
    height: 500px;
    width: 500px;
    background-color:black;
    border-radius: 100pc;
    border-top:100px;
}
#ktiga {
    height: 500px;
    width: 500px;
    background-color:burlywood;
    border-radius: 100pc;
    border-top:100px;
    margin-top: 10px;
}
#Background{
    height: 200px;
    width: 500px;
    background-color:greenyellow;
    color:floralwhite;
    background-image: url(image/burung.jpg);
    background-size:cover;
    background-repeat: auto;
    border-radius: 20px;

}
#Background h2{
    text-align: center;
    padding-top:80px ;
}
#Pattern{
    height: 200px;
    width: 500px;
    background-color:aqua;
    color:black;
    background-image: url(pattern/two100.jpg);
    background-size:100px;
    background-repeat: auto;
    border-radius: 20px;

}
#Pattern h2{
    text-align: center;
    padding-top:80px ;
}
